%ul.breadcrumb
  %li
    = link_to "Home", root_path
    %span.divider
      |
  %li.active Foursquare

%ul
  %li= link_to "Your Information on Foursquare", user_foursquare_index_path
  -#%li= link_to "List of Friends of Current User", friends_foursquare_index_path
  %li= link_to "Your Checkins", checkins_foursquare_index_path
  -#%li= link_to "Search for Venues", venues_search_foursquare_index_path
  -#%li= link_to "Get Details about a specific Venue", venue_details_foursquare_index_path
