!!! XHTML
%html
  %head
    %title jQuantified Self / Foursquare"
    = stylesheet_link_tag 'html'
    
    #page
      %h1#title
        = link_to "Quantified Self / Foursquare", root_path
      = yield
