!!! XHTML
%html
  %head
    = javascript_include_tag 'application'
    %a.github-link(href="https://github.com/interskh/qs")
      %img(style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub")
    %title Quantified Self
    = stylesheet_link_tag 'application'
    
    #page
      .navbar
        .navbar-inner
          = link_to "Quantified Self", root_path, :class=>"brand"
      .container
        = yield
